<section>
    <!-- breadcrumbs -->
     <app-breadcrumbs name="Shop" />
      <!-- breadcrumbs end -->
  
      <!-- shop wrapper -->
      <div class="container flex flex-col md:flex-row gap-6 pt-4 pb-16 items-start">
        <!-- sidebar -->
        <app-shop-sidebar [products]="products" />
        <!-- sidebar end -->
  
        <!-- product -->
        <div class="">
          <!-- sorting -->
          <div class="flex items-center mb-4">
            <select
              class="w-44 text-sm text-gray-600 px-4 py-3 border-gray-300 shadow-sm rounded focus:ring-primary focus:border-primary"
            >
              <option>Default sorting</option>
              <option>Price low-high</option>
              <option>Price high-low</option>
              <option>Latest product</option>
            </select>
  
            <div class="hidden lg:flex gap-2 ml-auto">
              <div
                class="border w-10 h-9 flex items-center justify-center rounded cursor-pointer"
                [ngClass]="{'border-primary bg-primary text-white': viewCart, 'border-gray-300 text-gray-600': !viewCart}"
                (click)="cardVertically()"
              >
                <i class="fas fa-th"></i>
              </div>
              <div
                class="border w-10 h-9 flex items-center justify-center rounded cursor-pointer"
                [ngClass]="{'border-primary bg-primary text-white': !viewCart, 'border-gray-300 text-gray-600': viewCart}"
                (click)="cardHorizontally()"
              >
                <i class="fas fa-list"></i>
              </div>
            </div>
          </div>
          <!-- sorting end -->
          <!-- product grid -->
           @if (viewCart) {
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6">
            
              <!-- single product -->
              @for(product of products; track product.id){
                  <app-product-card [product]="product"></app-product-card>
                }
              <!-- single product end -->
            </div>
           } @else {
            <div class="grid grid-cols-1 gap-6">
            
              <!-- single product -->
              @for(product of products; track product.id){
                  <app-product-card-2 [product]="product"></app-product-card-2>
                }
              <!-- single product end -->
            </div>
           }
          
          <!-- product grid end -->
        </div>
        <!-- product end -->
      </div>
      <!-- shop wrapper end -->
</section>
