<!-- profile info -->
<div class="col-span-9 shadow rounded px-6 pt-5 pb-7">
  <h4 class="text-lg font-medium capitalize mb-4">Profile Information</h4>
  <div class="space-y-4">
    <form action="" class="w-full">
      <!-- Full Name -->
      <div class="grid grid-cols-1 gap-4">
        <div>
          <label for="" class="text-gray-600 mb-2 block">Full name</label>
          <input type="text" class="input-box" placeholder="Enter Full Name" />
        </div>
      </div>
      <!-- Full Name end -->
      <!-- form row -->
      <div class="grid grid-cols-2 gap-4">
        <!-- Birthday -->
        <div>
          <label for="" class="text-gray-600 mb-2 block">Birthday</label>
          <input type="date" class="input-box" placeholder="Birthday" />
        </div>
        <!-- Birthday end -->
        <!-- Gender -->
        <div>
          <label for="" class="text-gray-600 mb-2 block">Gender</label>
          <select class="input-box">
            <option>Male</option>
            <option>Female</option>
          </select>
        </div>
        <!-- Gender end -->
      </div>
      <!-- form row end -->
      <!-- form row -->
      <div class="grid grid-cols-2 gap-4">
        <!-- Email -->
        <div>
          <label for="" class="text-gray-600 mb-2 block">Email address</label>
          <input
            type="email"
            class="input-box"
            placeholder="Enter email address"
          />
        </div>
        <!-- Email end -->
        <!-- Phone -->
        <div>
          <label for="" class="text-gray-600 mb-2 block">Phone number</label>
          <input
            type="text"
            class="input-box"
            placeholder="Enter phone number"
          />
        </div>
        <!-- Phone end -->
      </div>
      <!-- form row end -->
      <div class="mt-4">
        <button
          class="px-4 py-2 text-center text-white bg-primary border border-primary rounded hover:bg-transparent hover:text-primary transition uppercase font-roboto font-medium"
          type="submit"
        >
          Save changes
        </button>
      </div>
    </form>
  </div>
</div>
<!-- profile info end -->
