<!-- profile info -->
<div class="col-span-9 shadow rounded px-6 pt-5 pb-7">
    <h4 class="text-lg font-medium capitalize mb-4">Profile Information</h4>
    <div class="space-y-4">
      <!-- form row -->
      <div class="grid grid-cols-2 gap-4">
        <!-- single input -->
        <div>
          <label for="" class="text-gray-600 mb-2 block">First name</label>
          <input
            type="text"
            class="input-box"
            placeholder="Enter first name"
          />
        </div>
        <!-- single input end -->
        <!-- single input -->
        <div>
          <label for="" class="text-gray-600 mb-2 block">Last name</label>
          <input
            type="text"
            class="input-box"
            placeholder="Enter last name"
          />
        </div>
        <!-- single input end -->
      </div>
      <!-- form row end -->
      <!-- form row -->
      <div class="grid grid-cols-2 gap-4">
        <!-- single input -->
        <div>
          <label for="" class="text-gray-600 mb-2 block">Full name</label>
          <input type="date" class="input-box" placeholder="Birthday" />
        </div>
        <!-- single input end -->
        <!-- single input -->
        <div>
          <label for="" class="text-gray-600 mb-2 block">Gender</label>
          <select class="input-box">
            <option>Male</option>
            <option>Female</option>
          </select>
        </div>
        <!-- single input end -->
      </div>
      <!-- form row end -->
      <!-- form row -->
      <div class="grid grid-cols-2 gap-4">
        <!-- single input -->
        <div>
          <label for="" class="text-gray-600 mb-2 block"
            >Email address</label
          >
          <input
            type="email"
            class="input-box"
            placeholder="Enter email address"
          />
        </div>
        <!-- single input end -->
        <!-- single input -->
        <div>
          <label for="" class="text-gray-600 mb-2 block"
            >Phone number</label
          >
          <input
            type="text"
            class="input-box"
            placeholder="Enter phone number"
          />
        </div>
        <!-- single input end -->
      </div>
      <!-- form row end -->
      <div class="mt-4">
        <button
          class="px-4 py-2 text-center text-white bg-primary border border-primary rounded hover:bg-transparent hover:text-primary transition uppercase font-roboto font-medium"
          type="submit"
        >
          Save changes
        </button>
      </div>
    </div>
  </div>
  <!-- profile info end -->
