<!-- single product -->
<div class="bg-white shadow rounded overflow-hidden group">
  <!-- product img -->
  <div class="relative">
    <img [src]="product?.image" class="w-full" alt="" />
    <div
      class="absolute inset-0 bg-black bg-opacity-40 flex items-center justify-center gap-2 opacity-0 group-hover:opacity-100 transition"
    >
      <a
        [routerLink]="getViewLink(product.id)"
        class="text-white text-lg w-9 h-9 rounded-full bg-primary flex items-center justify-center hover:bg-secondary transition"
      >
        <i class="fas fa-search"></i>
      </a>
      <button
        (click)="addToWishlist(product)"
        class="text-white text-lg w-9 h-9 rounded-full bg-primary flex items-center justify-center hover:bg-secondary transition"
      >
        <i class="far fa-heart"></i>
      </button>
    </div>
  </div>
  <!-- product img end -->

  <!-- product content -->
  <div class="pt-4 pb-3 px-4">
    <a [routerLink]="getViewLink(product.id)">
      <h4
        class="uppercase font-medium text-xl mb-2 text-secondary hover:text-primary transition"
      >
        {{ product?.name }}
      </h4>
    </a>
    <div class="flex items-baseline mb-1 space-x-2 font-roboto">
      <p class="text-xl text-primary font-semibold">
        ${{ product?.OfferPrice }}
      </p>
      <p class="text-sm text-secondary line-through">
        ${{ product?.RegularPrice }}
      </p>
    </div>
    <div class="flex items-center">
      <div class="flex gap-1 text-sm">
        @for(star of getStarsArray(product?.AverageRating); track $index) {
        <span [ngClass]="{ 'text-primary': star, 'text-senary': !star }">
          <i class="fas fa-star"></i>
        </span>
        }
      </div>
      <!-- <ng-container *ngFor="let star of getStarsArray(product?.AverageRating)">
          <span><i class="fas fa-star"></i></span>
        </ng-container> -->
      <div class="text-xs text-tertiary ml-3">({{ product?.RatingCount }})</div>
    </div>
  </div>
  <button
    class="block w-full py-1 text-center text-white bg-primary borber border-primary rounded-b hover:bg-transparent hover:text-primary transition capitalize"
    [routerLink]="getViewLink(product.id)"
  >
    add to cart
  </button>
  <!-- product content end -->
</div>
<!-- single product end -->
