<section>
  <app-breadcrumbs name="user checkout" />

  <!-- checkout wrapper -->
  <form #form="ngForm" (ngSubmit)="onFormSubmit()">
    <div class="container flex flex-col md:flex-row items-start pb-16 pt-4">
      <!-- checkout form -->
      <div class="flex-auto border border-red-200 p-4 rounded">
        <h3>Checkout</h3>
        <div class="space-y-4">
          <div class="flex flex-col md:flex-row gap-4">
            <div class="w-full">
              <app-inputs
                inputId="fullName"
                label="full name"
                [isRequired]="true"
                [(value)]="model.fullName"
                placeholder="Enter your first and last name"
              ></app-inputs>
              <app-inputs
                inputId="phone"
                label="phone number"
                [isRequired]="true"
                [(value)]="model.phone"
                placeholder="Enter your phone number"
              ></app-inputs>
              <app-inputs
                inputId="address"
                label="address"
                [isRequired]="true"
                [(value)]="model.address"
                placeholder="For Example: House# 123, Street# 123, ABC Road"
              ></app-inputs>
            </div>

            <div class="w-full">
              <app-inputs
                type="select"
                inputId="region"
                label="region"
                [isRequired]="true"
                [(value)]="model.region"
                [options]="region"
                defaultPlaceholder="Please choose your region"
                (valueChange)="onRegionChanged()"
              ></app-inputs>
              <app-inputs
                type="select"
                inputId="city"
                label="city"
                [isRequired]="true"
                [(value)]="model.city"
                [options]="city"
                [isDisabled]="model.region === ''"
                defaultPlaceholder="Please choose your city"
                (valueChange)="onCityChanged()"
              ></app-inputs>
              <app-inputs
                type="select"
                inputId="area"
                label="area"
                [isRequired]="true"
                [(value)]="model.area"
                [options]="area"
                [isDisabled]="model.city === ''"
                defaultPlaceholder="Please choose your area"
              ></app-inputs>
            </div>
          </div>
        </div>
      </div>
      <!-- checkout form end -->

      <!-- sidebar -->
      <div class="w-full md:w-[33%] border-gray-200 p-4 rounded">
        <h4 class="text-gray-800 text-lg mb-4 font-medium uppercase">
          Order summary
        </h4>
        <div class="space-y-4">
          <div class="flex justify-between">
            <div>
              <h5 class="text-gray-800 font-medium">Italian Shape Sofa</h5>
              <p class="text-sm text-gray-800">Size: M</p>
            </div>
            <p class="text-gray-800">x3</p>
            <p class="text-gray-800">$320</p>
          </div>

          <div class="flex justify-between">
            <div>
              <h5 class="text-gray-800 font-medium">Subtotal</h5>
            </div>
            <p class="text-gray-800">$120</p>
          </div>
          <div class="flex justify-between">
            <div>
              <h5 class="text-gray-800 font-medium">Shipping</h5>
            </div>
            <p class="text-gray-800">Free</p>
          </div>
          <div
            class="flex justify-between border-b border-gray-200 mt-1 text-gray-800 font-medium my-3 uppercase"
          >
            <p class="font-semibold">Total</p>
            <p>$320</p>
          </div>
          <div class="flex items-center mb-4 mt-2">
            <input
              type="checkbox"
              id="agreement"
              class="text-primary focus:ring-0 rounded-md cursor-pointer w-3 h-3"
            />
            <label
              for="agreement"
              class="text-gray-800 ml-3 cursor-pointer text-sm"
              >Agree to our
              <a href="#" class="text-primary">terms & conditions</a></label
            >
          </div>
        </div>
        <div class="mt-4">
          <input
            type="submit"
            value="Place Order"
            class="block w-full py-2 text-center text-gray-50 bg-primary border border-primary rounded hover:bg-transparent hover:text-primary transition uppercase font-roboto font-medium"
          />
        </div>
      </div>
      <!-- sidebar end -->
    </div>
  </form>
  <!-- checkout wrapper end -->
</section>
