<!-- product wrapper -->
<div class="container pb-16">
  <h2 class="text-3xl font-medium text-secondary uppercase mb-6">
    top new arrival
  </h2>
  <!-- product grid -->
  <swiper-container
    slides-per-view="4"
    mousewheel-force-to-axis="true"
    loop="true"
    navigation="true"
    autoplay-delay="2500"
    [spaceBetween]="25"
    [breakpoints]="breakpoints"
  >
    <!-- single product -->
    @for(product of products; track product.id){
    <swiper-slide
      ><app-product-card [product]="product"></app-product-card
    ></swiper-slide>
    }
    <!-- single product end -->
  </swiper-container>
  <!-- product grid end -->
</div>
<!-- product wrapper end -->
