<!-- banner -->
<div class="">
  <img
    src="../../../../assets/images/banner-bg.jpg"
    alt="banner img"
    class="w-full h-full object-cover"
  />
  <!-- <div class="container">
    <div class="max-w-full md:max-w-[600px]">
      <h1 class="text-6xl text-secondary font-medium mb-4 capitalize">
        best collection for home decoration
      </h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa similique
        necessitatibus vitae, aspernatur qui expedita molestiae aliquam iste
        quam ea quae ex. Fuga id dolor dolores nostrum. Quisquam, repellat
        tempora.
      </p>
      <div class="mt-12">
        <a
          href="#"
          class="bg-primary border border-primary text-gray-50 px-8 py-3 font-medium rounded-md hover:bg-transparent hover:text-primary transition"
          >Shop Now</a
        >
      </div>
    </div>
  </div> -->
</div>
<!-- banner end -->
