<div
  id="modal"
  class="hidden items-center justify-center h-screen w-screen fixed top-0 left-0 bg-gray-800 bg-opacity-60"
  [ngClass]="{ flex: isModalOpen, hidden: !isModalOpen }"
  (click)="closeModal($event)"
>
  <!--Modal Dialog -->
  <div
    class="bg-white max-w-xl w-full rounded-md"
    (click)="$event.stopPropagation()"
  >
    <!--Modal Content -->
    <div
      class="p-3 flex items-center justify-between border-b border-b-gray-300"
    >
      <!--Modal Header -->
      <h3 class="font-semibold text-xl">{{heading}}</h3>
      <span class="modal-close cursor-pointer" (click)="closeModal($event)"
        >X</span
      >
      <!-- Close Modal -->
    </div>
    <div class="p-3 border-b border-b-gray-300">
      <!--Modal Body -->
      <p>
        {{description}}
      </p>
    </div>
    <div class="p-3 flex items-center justify-start">
      <!--Modal Footer -->
      <div>
        <!-- <button class="text-sm text-white bg-blue-500 rounded-md px-4 py-2">
          Accept
        </button> -->
        <button
          class="modal-close text-sm text-gray-400 border rounded-md px-4 py-2"
          (click)="closeModal($event)"
        >
          Close
        </button>
        <!-- Close Modal -->
      </div>
    </div>
  </div>
</div>
