<div class="container pb-16 mt-4">
  <h3
    class="border-b border-gray-200 font-roboto text-gray-800 pb-3 font-medium"
  >
    Product details
  </h3>

  <div class="w-full pt-6">
    <div class="text-gray-600 space-y-3 whitespace-pre-line">
      {{ product?.ProductDetails }}
    </div>
    <!-- table -->
    <h3
      class="border-b border-gray-200 font-roboto text-gray-800 pb-3 font-medium mt-5"
    >
      Specifications
    </h3>
    <table
      class="table-auto border-collapse w-full text-left text-gray-600 text-sm mt-6"
    >
      @for(specification of product?.specifications; track specification){
      <tr>
        <th class="py-2 px-4 border border-gray-300 w-40 font-medium">
          {{ specification?.item }}
        </th>
        <td class="py-2 px-4 border border-gray-300">
          {{ specification?.value }}
        </td>
      </tr>
      }
    </table>
    <!-- table end -->
  </div>
</div>
