<!-- single cart mobile -->
<div
  class="flex lg:hidden items-center justify-between gap-6 p-4 border border-gray-200 rounded bg-white"
>
  <div>
    <!-- cart image -->
    <div class="w-full max-w-48 shrink-0">
      <img [src]="product?.image" alt="{{ product?.productName }}" />
    </div>
    <!-- cart image end -->
    <!-- price -->
    <div class="text-primary text-lg font-semibold">
      ${{ (product?.price * count).toFixed(2) }}
    </div>
    <!-- price end -->
    <div class="flex gap-2 items-center">
      <!-- quantity -->
      <div class="">
        <div
          class="flex border border-gray-300 text-gray-800 divide-x divide-gray-300 w-max"
        >
          <button
            class="h-6 w-6 text-xl flex items-center justify-center cursor-pointer select-none"
            [disabled]="count === 1"
            (click)="decrease()"
          >
            -
          </button>
          <div class="h-6 w-6 text-base flex items-center justify-center">
            {{ count }}
          </div>
          <button
            class="h-6 w-6 text-xl flex items-center justify-center cursor-pointer select-none"
            (click)="increase()"
          >
            +
          </button>
        </div>
      </div>
      <!-- quantity end -->
      <!-- delete button -->
      <button
        (click)="deleteCart(product)"
        class="cursor-pointer p-2 text-gray-50 bg-slate-100 border border-slate-200 rounded-full hover:bg-transparent hover:bg-slate-200 transition"
      >
        <svg
          fill="#ff0000"
          version="1.1"
          id="Capa_1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          width="14px"
          height="14px"
          viewBox="0 0 408.483 408.483"
          xml:space="preserve"
          stroke="#ff0000"
        >
          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
          <g
            id="SVGRepo_tracerCarrier"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></g>
          <g id="SVGRepo_iconCarrier">
            <g>
              <g>
                <path
                  d="M87.748,388.784c0.461,11.01,9.521,19.699,20.539,19.699h191.911c11.018,0,20.078-8.689,20.539-19.699l13.705-289.316 H74.043L87.748,388.784z M247.655,171.329c0-4.61,3.738-8.349,8.35-8.349h13.355c4.609,0,8.35,3.738,8.35,8.349v165.293 c0,4.611-3.738,8.349-8.35,8.349h-13.355c-4.61,0-8.35-3.736-8.35-8.349V171.329z M189.216,171.329 c0-4.61,3.738-8.349,8.349-8.349h13.355c4.609,0,8.349,3.738,8.349,8.349v165.293c0,4.611-3.737,8.349-8.349,8.349h-13.355 c-4.61,0-8.349-3.736-8.349-8.349V171.329L189.216,171.329z M130.775,171.329c0-4.61,3.738-8.349,8.349-8.349h13.356 c4.61,0,8.349,3.738,8.349,8.349v165.293c0,4.611-3.738,8.349-8.349,8.349h-13.356c-4.61,0-8.349-3.736-8.349-8.349V171.329z"
                ></path>
                <path
                  d="M343.567,21.043h-88.535V4.305c0-2.377-1.927-4.305-4.305-4.305h-92.971c-2.377,0-4.304,1.928-4.304,4.305v16.737H64.916 c-7.125,0-12.9,5.776-12.9,12.901V74.47h304.451V33.944C356.467,26.819,350.692,21.043,343.567,21.043z"
                ></path>
              </g>
            </g>
          </g>
        </svg>
      </button>
      <!-- delete button -->
    </div>
  </div>
  <!-- cart content -->
  <div class="w-full">
    <h2
      [routerLink]="getViewLink(product.id)"
      class="text-gray-800 text-xl font-medium uppercase"
    >
      {{ product?.name }}
    </h2>
    <p class="text-gray-800 text-sm">
      Brand: <span class="text-green-600">{{ product?.brand }}</span>
    </p>
    @if (product?.selectColor) {
    <p class="text-gray-800 text-sm">
      Color:
      <span class="text-green-600 uppercase">{{ product?.selectColor }}</span>
    </p>
    } @if (product?.selectSize) {
    <p class="text-gray-800 text-sm">
      Size:
      <span class="text-green-600 uppercase">{{ product?.selectSize }}</span>
    </p>
    }
  </div>
  <!-- cart content end -->

  <div class="text-gray-800 cursor-pointer hover:text-primary">
    <i></i>
  </div>
</div>
<!-- single cart mobile end -->
<!-- single cart desktop -->
<div
  class="hidden lg:flex items-center justify-between gap-6 p-4 border border-gray-200 rounded bg-white"
>
  <div class="w-28 shrink-0">
    <img
      [src]="product?.image"
      alt="{{ product?.productName }}"
      class="h-full"
    />
  </div>
  <!-- cart image end -->
  <!-- cart content -->
  <div class="w-1/3">
    <h2
      [routerLink]="getViewLink(product.productId)"
      class="text-gray-800 text-xl font-medium uppercase cursor-pointer hover:text-primary"
    >
      {{ product?.productName }}
    </h2>
    <p class="text-gray-800 text-sm">
      Brand: <span class="text-green-600">{{ product?.brand }}</span>
    </p>
    @if (product?.selectColor) {
    <p class="text-gray-800 text-sm">
      Color:
      <span class="text-green-600 uppercase">{{ product?.selectColor }}</span>
    </p>
    } @if (product?.selectSize) {
    <p class="text-gray-800 text-sm">
      Size:
      <span class="text-green-600 uppercase">{{ product?.selectSize }}</span>
    </p>
    }
  </div>
  <!-- cart content end -->
  <div class="text-primary text-lg font-semibold">
    ${{ (product?.price * count).toFixed(2) }}
  </div>
  <!-- quantity -->
  <div class="">
    <div
      class="flex border border-gray-300 text-gray-800 divide-x divide-gray-300 w-max"
    >
      <button
        class="h-8 w-8 text-xl flex items-center justify-center cursor-pointer select-none"
        [disabled]="count === 1"
        (click)="decrease()"
      >
        -
      </button>
      <div class="h-8 w-8 text-base flex items-center justify-center">
        {{ count }}
      </div>
      <button
        class="h-8 w-8 text-xl flex items-center justify-center cursor-pointer select-none"
        (click)="increase()"
      >
        +
      </button>
    </div>
  </div>
  <button
    (click)="deleteCart(product)"
    class="cursor-pointer p-2 text-gray-50 bg-slate-100 border border-slate-200 rounded-full hover:bg-transparent hover:bg-slate-200 transition"
  >
    <svg
      fill="#ff0000"
      version="1.1"
      id="Capa_1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      width="14px"
      height="14px"
      viewBox="0 0 408.483 408.483"
      xml:space="preserve"
      stroke="#ff0000"
    >
      <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
      <g
        id="SVGRepo_tracerCarrier"
        stroke-linecap="round"
        stroke-linejoin="round"
      ></g>
      <g id="SVGRepo_iconCarrier">
        <g>
          <g>
            <path
              d="M87.748,388.784c0.461,11.01,9.521,19.699,20.539,19.699h191.911c11.018,0,20.078-8.689,20.539-19.699l13.705-289.316 H74.043L87.748,388.784z M247.655,171.329c0-4.61,3.738-8.349,8.35-8.349h13.355c4.609,0,8.35,3.738,8.35,8.349v165.293 c0,4.611-3.738,8.349-8.35,8.349h-13.355c-4.61,0-8.35-3.736-8.35-8.349V171.329z M189.216,171.329 c0-4.61,3.738-8.349,8.349-8.349h13.355c4.609,0,8.349,3.738,8.349,8.349v165.293c0,4.611-3.737,8.349-8.349,8.349h-13.355 c-4.61,0-8.349-3.736-8.349-8.349V171.329L189.216,171.329z M130.775,171.329c0-4.61,3.738-8.349,8.349-8.349h13.356 c4.61,0,8.349,3.738,8.349,8.349v165.293c0,4.611-3.738,8.349-8.349,8.349h-13.356c-4.61,0-8.349-3.736-8.349-8.349V171.329z"
            ></path>
            <path
              d="M343.567,21.043h-88.535V4.305c0-2.377-1.927-4.305-4.305-4.305h-92.971c-2.377,0-4.304,1.928-4.304,4.305v16.737H64.916 c-7.125,0-12.9,5.776-12.9,12.901V74.47h304.451V33.944C356.467,26.819,350.692,21.043,343.567,21.043z"
            ></path>
          </g>
        </g>
      </g>
    </svg>
  </button>
  <div class="text-gray-800 cursor-pointer hover:text-primary">
    <i></i>
  </div>
</div>
<!-- single cart desktop end -->
