<!-- footer  -->
<footer class="bg-white pt-16 pb-12 border-t border-senary">
    <div class="container grid lg:grid-cols-3 gap-5">
      <!-- footer text -->
      <div class="col-span-1 space-y-8">
        <img src="../../../../assets/images/superCart.png" class="w-30" alt="logo" />
        <p class="text-tertiary">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
        <div class="flex space-x-6">
          <a href="#" class="text-tertiary hover:text-secondary"
            ><i class="fab fa-facebook-f"></i
          ></a>
          <a href="#" class="text-tertiary hover:text-secondary"
            ><i class="fab fa-twitter"></i
          ></a>
          <a href="#" class="text-tertiary hover:text-secondary"
            ><i class="fab fa-instagram"></i
          ></a>
          <a href="#" class="text-tertiary hover:text-secondary"
            ><i class="fab fa-linkedin-in"></i
          ></a>
        </div>
      </div>
      <!-- footer text end -->

      <!-- footer links -->
      <div class="col-span-2 grid grid-cols-2 gap-8">
        <div class="grid md:grid-cols-2 gap-8">
          <div>
            <h3
              class="text-sm font-semibold text-quinary uppercase tracking-wider"
            >
              solutions
            </h3>
            <div class="mt-4 space-y-4">
              <a
                href="#"
                class="text-base text-tertiary hover:text-secondary block"
                >Marketing</a
              >
              <a
                href="#"
                class="text-base text-tertiary hover:text-secondary block"
                >Analytics</a
              >
              <a
                href="#"
                class="text-base text-tertiary hover:text-secondary block"
                >Commerce</a
              >
              <a
                href="#"
                class="text-base text-tertiary hover:text-secondary block"
                >Insights</a
              >
            </div>
          </div>
          <div>
            <h3
              class="text-sm font-semibold text-quinary uppercase tracking-wider"
            >
              support
            </h3>
            <div class="mt-4 space-y-4">
              <a
                href="#"
                class="text-base text-tertiary hover:text-secondary block"
                >Pricing</a
              >
              <a
                href="#"
                class="text-base text-tertiary hover:text-secondary block"
                >Documentation</a
              >
              <a
                href="#"
                class="text-base text-tertiary hover:text-secondary block"
                >Guides</a
              >
              <a
                href="#"
                class="text-base text-tertiary hover:text-secondary block"
                >API Status</a
              >
            </div>
          </div>
        </div>
        <div class="grid md:grid-cols-2 gap-8">
          <div>
            <h3
              class="text-sm font-semibold text-quinary uppercase tracking-wider"
            >
              company
            </h3>
            <div class="mt-4 space-y-4">
              <a
                href="#"
                class="text-base text-tertiary hover:text-secondary block"
                >About</a
              >
              <a
                href="#"
                class="text-base text-tertiary hover:text-secondary block"
                >Blog</a
              >
              <a
                href="#"
                class="text-base text-tertiary hover:text-secondary block"
                >Jobs</a
              >
              <a
                href="#"
                class="text-base text-tertiary hover:text-secondary block"
                >Press</a
              >
            </div>
          </div>
          <div>
            <h3
              class="text-sm font-semibold text-quinary uppercase tracking-wider"
            >
              legal
            </h3>
            <div class="mt-4 space-y-4">
              <a
                href="#"
                class="text-base text-tertiary hover:text-secondary block"
                >Claim</a
              >
              <a
                href="#"
                class="text-base text-tertiary hover:text-secondary block"
                >Privacy</a
              >
              <a
                href="#"
                class="text-base text-tertiary hover:text-secondary block"
                >Policy</a
              >
              <a
                href="#"
                class="text-base text-tertiary hover:text-secondary block"
                >Terms</a
              >
            </div>
          </div>
        </div>
      </div>
      <!-- footer links end -->
    </div>
  </footer>
  <!-- footer end -->
